.h1{
	color:#1628c9 ; 
	font-size:24px ;
	
}

.text{

}

.email{
	color:#0000ff;
	text-decoration: none;
}
.email:hover{
	color:#f00;
	text-decoration: hover;
	text-decoration: underline;
}

.header{
	
	background:#04ff00;
	color:#f00;
	font-size:16px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
}
.feedback{
	
}

.container{
	width:960px;
	border: 5px solid #ff0000; 
	text-align: center;
	margin: 100px auto;
	border-radius: 20px;

}
.form__input{
	width: 400px;
	background: black;
	color: white;
	border:  1px solid;
	font-size: 14px;
	padding:10px 4px;
}